DEFAULT {
  css {
    @apply break-words;

    nav {
      @apply px-8 py-1 mb-8 leading-5 rounded-lg shadow bg-deep-green;
      @apply -mt-28 !important;
    }

    nav p {
      @apply font-mono text-base font-bold leading-5 text-white;
    }

    nav ol > li {
      @apply pl-4 text-base leading-5;
    }

    nav ol > li > a {
      @apply font-mono text-white;
    }

    nav ol > li:before {
      @apply font-bold text-white opacity-50;
    }

    nav > ol > li:before {
      @apply -top-0.5;
      content: '>';
    }

    nav > ol > li li:before {
      content: '-';
    }

    a {
      @apply text-blue-800 no-underline;
    }

    a:hover {
      @apply underline;
    }

    a img {
      @apply transition-shadow;
    }

    a:hover img {
      @apply shadow-lg;
    }

    blockquote {
      @apply not-italic border-gray-500 bg-gray-100 pr-4 py-0.5 rounded-lg rounded-l-none shadow;
    }

    blockquote p:first-of-type::before,
    blockquote p:last-of-type::after {
      content: '' !important;
    }

    code {
      @apply px-1 bg-gray-200 rounded-lg;
    }

    code::before,
    code::after {
      content: '';
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      scroll-margin-top: 5rem;
    }

    /* :is(h1, h2, h3, h4, h5, h6) > a { */
    h1 > a,
    h2 > a,
    h3 > a,
    h4 > a,
    h5 > a,
    h6 > a {
      @apply relative text-gray-900;
    }

    img {
      @apply mx-auto rounded shadow;
    }

    pre {
      @apply shadow bg-deep-green;
    }

    .twitter-tweet-rendered {
      @apply transition-shadow shadow rounded-2xl;
    }

    .twitter-tweet-rendered:hover {
      @apply shadow-lg;
    }
  }
}
xl {
  css {
    /* :is(h1, h2, h3, h4, h5, h6) > a:hover:before { */
    h1 > a:hover:before,
    h2 > a:hover:before,
    h3 > a:hover:before,
    h4 > a:hover:before,
    h5 > a:hover:before,
    h6 > a:hover:before {
      @apply absolute text-gray-600 -left-10;
      content: '#';
    }

    nav ol > li {
      @apply text-lg leading-5;
    }
  }
}
