.article-wrapper .article-html {
  padding: 0 16px;
  /* enable text selection */
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.article-wrapper .article-html img {
  max-width: 100%;
}