.article-wrapper .article-html {
  padding: 0 16%;
  font-size: 19px;
  /* enable text selection */
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.article-wrapper .article-html p {
  font-weight: 300;
  line-height: 32px;
}

.article-wrapper .article-html a {
  text-decoration: none;
  color: #3f51b5;
  font-weight: 400;
}

.article-wrapper .article-html pre {
  overflow-x: auto;
  border-radius: 6px;
  color: #fff;
  background-color: #23241f;
  padding: 16px;
  font-size: 15px;
}
.article-wrapper .article-html img {
  max-width: 100%;
}