.header-wrapper {
  border-bottom: 2px solid #0000001a;
}

.main-header {
  width: 100%;
  display: flex;
}

.main-header span {
  padding-left: 16px;
  padding-top: 16px;
  white-space: nowrap;
  line-height: 42px;
  margin: 0;
  font-size: 42px;
  font-weight: 300;
  flex: 1;
}

.contact-links {
  margin-top: 16px;
  margin-right: 16px;
}

.contact-links a {
  margin-right: 16px;
  text-decoration: none;
  color: #000;
}

.contact-links a:last-child {
  margin-right: 0;
}

.contact-links a:hover {
  font-weight: bold;
}

.contact-links a.twitter {
  color: #0084ff;
}

.subheader {
  padding: 16px;
  color: #006324;
  font-size: 22px;
  font-family: "Roboto Mono", monospace;
  white-space: nowrap;
}

.subheader>a {
  margin-right: 32px;
  text-decoration: none;
  color: #006324;
}

.subheader a:hover {
  text-decoration: underline;
  text-decoration: underline;
}

.subheader a:last-child {
  margin-right: none;
}

.subheader a.on {
  font-weight: bold;
  cursor: pointer;
}

.subheader a:not(.on) .arrow {
  display: none;
}