.list-content {
  padding: 0 16px;
}

.list-content .item .headline {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 24px;
  line-height: 24px;
  white-space: nowrap;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  cursor: pointer;
  margin: 16px 0;
}

.list-content .item .headline .text:hover {
  text-decoration: underline;
}

.list-content .item .headline .text {
  flex: 1;
  max-width: 600px;
  white-space: normal;
}

.list-content .item .headline .tags {
  margin-left: 48px;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  max-width: 25%;
}

.list-content .item .headline .tags span {
  margin-left: 6px;
}

.list-content .item .headline .tags span:hover {
  text-decoration: underline;
}

.list-content .item section {
  height: 0;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.list-content .item.on section {
  height: initial;
}

@media (max-width: 768px) {
  .list-content .item .headline {
    height: auto;
    white-space: normal;
  }

  .list-content .item .headline .tags {
    display: none;
  }
}