.portfolio {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Slab', serif;
  background: #fff;
  user-select: none;
}

.main-wrapper {
  height: 100%;
  width: 1058px;
  max-width: 100%;
  margin-left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}